﻿@using Logistic_Inventory.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

 
<div class="row">
    <div class="col-md-3">

    </div>


    <div class="col-md-5">
        <div class="card">
            <div class="card-header" style="text-align:center">

                <i class="tim-icons icon-badge" style="font-size:80px"></i>
                <h2 class="title">Accoung SIGN IN</h2>
            </div>
            <div class="card-body">



 

               
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                 

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12 px-md-4">
                            <div class="form-group">
                                <label> Email  </label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12 px-md-4">
                            <div class="form-group">
                                <label>  Password </label>

                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>


                    <div class="card-footer" style="text-align:center">
                        <button type="submit" class="btn btn-fill btn-success">    <i class="tim-icons icon-single-02"></i> Login</button>
                    </div>

                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                }

            </div>
        </div>
    </div>

</div>
 


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}