﻿@model IEnumerable<Logistic_Inventory.Models.ApplicationUser>

@{
                /**/

                ViewBag.Title = "Index";
                var i = 1;
}

<h2>All Users</h2>


<table class="table table-hover">
    <tr>
        <th>SL</th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>





        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@i</td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserRole)
    </td>



</tr>

i++;
}

</table>
