﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

         

        <li class="nav-link">
            @Html.ActionLink( User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-item dropdown-item" })
        </li>
        
        <li class="dropdown-divider"></li>
        <li class="nav-link">
             
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item dropdown-item" >Log off</a>
        </li>


    }
}
else
{
    



    <li class="nav-link">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-item dropdown-item" })
    </li>


    <li class="nav-link">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-item dropdown-item" })
    </li>
    


}
